*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


/* variables */
:root{
    --clr-primary: #0a61f7;
    --clr-neutral: #95a1bb;
    --clr-text: #363940;
    --clr-white: #fff;

}

body{
    font-family: "Rubik", sans-serif;
}
.logo{
    background-color: var(--clr-primary);
    padding: 14px 130px;
}

.navigation{
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: var(--clr-white);
}

h1{
    font-weight: 500;
    font-size: 58px;
    line-height: 117%;
}

p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--clr-neutral);
}